{% if site.data.education %}
  {% include date_badge_styles.liquid %}
  <h2>Education</h2>
  <div class="publications">
    <ol class="bibliography">
      {% for item in site.data.education %}
        {% assign start_year = item.start_date | slice: 0, 4 %}
        {% assign start_short = item.start_date | slice: 2, 2 %}
        {% if item.end_date == 'present' %}
          {% assign duration = start_short | append: '–Pres.' %}
        {% else %}
          {% assign end_short = item.end_date | slice: 2, 2 %}
          {% assign duration = start_short | append: '–' | append: end_short %}
        {% endif %}
        <li>
          <div class="row">
            <div class="col col-sm-2 abbr">
              <abbr class="date-badge badge rounded w-100">
                <div>{{ duration }}</div>
              </abbr>
            </div>
            <div class="col-sm-10">
              <div class="title">{{ item.institution }}</div>
              <div class="author">{{ item.studyType }}</div>
              <div class="periodical">{{ item.area }}</div>
              <div class="periodical">{{ item.location }}</div>
            </div>
          </div>
        </li>
      {% endfor %}
    </ol>
  </div>
{% endif %}
